/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  Colors
*/


.nunito-family {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
:root {
  --primary-color: #E0E1DD;
  --secondary-color: #ebece7;
  --primary-bg-color: #0D1B2A;
  --secondary-bg-color: #1B263B;
}

body {
  font-family: "nunito", sans-serif;
  color: var(--primary-bg-color);
  background-color: var(--primary-bg-color);
}

.hide {
  display: none;
}

.search-input {
  background-color: var(--secondary-bg-color);
  border: 1.5px solid white;
  border-radius: 2%;
  padding-left: 12px;
  color: var(--primary-color);
  width: 50vw;
  height: 2.5rem;
}

.container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}